// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-panel-container.left {
  box-shadow: inset -1px 0 0 @base-border-color;
}

atom-panel-container.right {
  box-shadow: inset 1px 0 0 @base-border-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}
