// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.

atom-text-editor[mini] {
  display: flex;
  align-items: center;
  padding-left: @component-padding / 2;
  color: @text-color;
  min-height: 28px;
  max-height: 100%;
  border: none;
  border-radius: @component-border-radius;
  background-color: @input-background-color;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .15);

  > div {
    background: none !important;
  }

  &.is-focused {
    background-color: @input-background-color;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .15), 0 0 0 1px fade(@blue-color, 50%), 0 0 0 3px fade(@blue-color, 30%);

    .selection .region {
      background: #cfe9ff;
    }
  }

  .selection .region {
    background: transparent;
  }

  .placeholder-text {
    color: @text-color-subtle;
  }
}

atom-text-editor.editor {
  .gutter.line-numbers {
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(~"100% " - 4px);
      box-shadow: inset -1px 0 0 fade(@black-color, 5%);
      background: @lighter-color;
    }

    .line-number {
      color: @text-color-subtle;
      min-width: 60px;
      padding-left: calc(0.5em - 4px);
      padding-right: 4px;
      background: @lighter-color;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: 4px solid @white-color;
        background: fade(@black-color, 5%);
        width: 5px;
      }

      &.cursor-line {
        font-weight: 600;
        background: @light-color;

        &::after {
          border-right: 4px solid @white-color;
          right: 0;
        }
      }

      &.cursor-line-no-selection {
        background: @light-color;

        &::after {
          border-right: 4px solid @lighter-color;
          right: 0;
        }
      }

      &.git-line-modified {
        border: none;

        &::before {
          content: "";
          position: absolute;
          right: 4px;
          width: 2px;
          top: 0;
          bottom: 0;
          background: @orange-color;
        }
      }

      &.git-line-added {
        border: none;

        &::before {
          content: "";
          position: absolute;
          right: 4px;
          width: 2px;
          top: 0;
          bottom: 0;
          background: @green-color;
        }
      }

      &.git-line-removed:before,
      &.git-previous-line-removed:before {
        left: auto;
        right: -2px;
        z-index: 2;
      }
    }
  }

  .cursor-line {
    background: @lighter-color;
  }

  .gutter:not(.line-numbers) {
    background: transparent;
    min-width: 0;
    overflow: visible;

    .line-number.cursor-line {
      background: @white-color;

      &::before {
        display: none;
      }
    }

    .line-number.cursor-line.cursor-line-no-selection {
      background: @lighter-color;
    }
  }

  .custom-decorations {
    .line-number {
      position: absolute;
      left: 4px;
      top: 0;
      width: 2px;
      padding: 0;
    }

    .decoration {
      margin-left: -8px;
    }
  }

  .selection .region {
    border-radius: 0;
  }

  .wrap-guide {
    background: none;
    border-right: 1px dotted @base-border-color;
  }
}
