
// Git
// -------------------

// Used to color git status

.status          { color: @text-color; }
.status-added    { color: @text-color-success; } // green
.status-ignored  { color: @text-color-subtle; }  // faded
.status-modified { color: @text-color-warning; } // orange
.status-removed  { color: @text-color-error; }   // red
.status-renamed  { color: @text-color-info; }    // blue

.github-CommitView-editor {
  &:extend(atom-text-editor[mini]);

  &:focus-within {
    &:extend(atom-text-editor[mini].is-focused);
  }

  .github-CommitView-coAuthorToggle {
    margin-left: 2px;
    margin-bottom: 2px;

    .github-CommitView-coAuthorToggleIcon.focused {
      fill: @blue-color;
    }
  }

  .github-CommitView-expandButton {
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
  }
}

.github-StagingView {
  .github-FilePatchListView-item {
    cursor: pointer;
  }
  .github-FilePatchListView-item:hover {
    background: @lighter-color;
  }
  .github-FilePatchListView-item.is-selected {
    color: @white-color !important;
    background: @background-color-highlight !important;

    .icon {
      color: @white-color !important;
    }
  }
  &:focus-within {
    .github-FilePatchListView-item.is-selected {
      color: @white-color !important;
      background: @background-color-selected !important;
    }
  }
}

.github-RecentCommits {
  li {
    cursor: pointer;

    .btn {
      min-height: 16px;
    }
  }
  li:hover {
    background: @lighter-color;
  }
  li.is-selected {
    color: @white-color !important;
    background: @background-color-highlight !important;
  }
  &:focus-within {
    li.is-selected {
      color: @white-color !important;
      background: @background-color-selected !important;
    }
  }
}

.github-Popover, .github-StatusBarTileController-tooltipMenu {
  .tooltip-inner.tooltip-inner {
    padding: 8px;
    border-radius: 6px;
    color: @text-color;
    border: none;
    background: @light-color;
    box-shadow: 0 2px 8px fade(@black-color, 10%),
      0 1px 2px fade(@black-color, 10%), 0 0 0 1px fade(@black-color, 5%);
  }
  &.top .tooltip-arrow.tooltip-arrow {
    width: 30px;
    height: 13px;
    border: none;
    background: none;
    border-radius: 0;
    transform: none;
  }
}
