
// Inputs
// -------------------


input.input-text, input.input-search, textarea.input-textarea, input.input-number {
  padding-left: @component-padding / 2;
  color: @text-color;
  font-size: 13px;
  min-height: 28px;
  border: none;
  border-radius: @component-border-radius;
  background-color: @input-background-color;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .15);

  &:focus {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 0 0 1px rgba(0, 0, 0, .15), 0 0 0 1px fade(@blue-color, 50%), 0 0 0 3px fade(@blue-color, 30%);
  }

  &::placeholder {
    color: @text-color-subtle;
  }
}

input.input-number {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

label.input-label {
  color: @text-color;
  font-size: 13px;
  font-weight: 500;
}

select.input-select {
  color: @text-color;
  font-size: 13px;
  min-height: 28px;
  line-height: 28px;
  background: linear-gradient(@white-color, @lighter-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .1);
}
