// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view {
  background: @dark-color;
  top: -3px !important;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 3px, black 100%);

  .tree-view-root {
    min-width: 0;
    width: 100%;
    overflow-x: hidden;
    padding-top: 3px;
    padding-bottom: 5px;
  }

  .list-item {
    display: flex;
    align-items: center;
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 14px;
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    &.directory {
      padding-left: 9px;
    }
  }

  .list-item,
  .list-nested-item {
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      position: relative;
      width: 100%;
      z-index: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &::before {
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 4px;
      z-index: 0;
    }

    &.selected::before {
      background: @background-color-highlight;
    }
  }

  &:focus-within {
    .list-item.selected,
    .list-nested-item.selected {
      &::before {
        background: @background-color-selected;
      }
    }
  }

  .list-item.selected,
  .list-nested-item.selected {
    &::before {
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 4px;
    }
  }

  .list-item.status-modified,
  .directory.status-modified:not(.project-root) > .header.list-item:first-child {
    font-weight: 600;
    color: @text-color;

    span {
      padding-right: 20px;

      &::after {
        content: '\f06d';
        font-weight: normal;
        color: fade(@white-color, 60%);
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        font-family: 'Octicons Regular';
        font-size: 14.2px;
        width: 16px;
        height: 16px;
      }
    }

    &.selected {
      color: @white-color;

      span::after {
        color: fade(@white-color, 80%);
      }
    }
  }

  .directory.status-modified:not(.project-root).selected > .header.list-item:first-child {
    color: @white-color;

    span::after {
      color: fade(@white-color, 80%);
    }
  }

  .list-item.status-added,
  .directory.status-added:not(.project-root) > .header.list-item:first-child {
    font-weight: 600;
    color: @text-color;

    span {
      padding-right: 20px;

      &::after {
        content: '\f06b';
        font-weight: normal;
        color: fade(@white-color, 60%);
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        font-family: 'Octicons Regular';
        font-size: 14.2px;
        width: 16px;
        height: 16px;
      }
    }

    &.selected {
      color: @white-color;

      span::after {
        color: fade(@white-color, 80%);
      }
    }
  }

  .directory.status-added:not(.project-root).selected > .header.list-item:first-child {
    color: @white-color;

    span::after {
      color: fade(@white-color, 80%);
    }
  }

  .project-root-header {
    font-weight: 500;
    color: @text-color;
  }

  .selected .project-root-header {
    color: @white-color;
  }
}

.header > .icon-repo:before {
  top: 2px;
}

.is-blurred {
  .tree-view {
    opacity: .8;
  }
}
